*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

#bg1 {
  background-image: url("https://c.wallhere.com/photos/45/9a/1920x1200_px_nature_pokemon-1004643.jpg!d");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#bg_kanto {
  background-image: url("/Assets/bg_kanto.png");
}
#bg_johto {
  background-image: url("/Assets/bg_johto.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
#bg_hoenn {
  background-image: url("/Assets/bg_hoenn.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#bg_sinnoh {
  background-image: url("/Assets/bg_sinnoh.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#bg_unys {
  background-image: url("/Assets/bg_unys.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.363);
  font-family: cursive;
}

body header nav a {
  flex: 1 1 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 30px;
}

body header nav a #maison {
  width: 50px;
  height: 50px;
}

body header nav #h1_special {
  flex: 1 1 90%;
  font-size: 2.5rem;
  text-align: center;
}

body main .gen_container {
  display: flex;
  font-size: 1.5rem;
  margin: 4rem;
  justify-content: center;
  font-family: system-ui;
}

a {
  font-size: 2rem;
  text-decoration: none;
  border-radius: 15px;
}

a:visited {
  color: #01040f9f;
}
a:hover {
  background: #632edf85;
}

body main .gen_container .img_gen {
  width: 450px;
  height: 200px;
  margin-left: 50px;
}

body main #title {
  display: flex;
  font-size: 1.5rem;
  margin: 4rem;
  justify-content: center;
}

body main .premiere_gen,
body main .deuxieme_gen,
body main .troisieme_gen,
body main .quatrieme_gen,
body main .cinquieme_gen {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-top: 2rem;
}

body main .premiere_gen .gen_game,
body main .deuxieme_gen .gen_game,
body main .troisieme_gen .gen_game,
body main .quatrieme_gen .gen_game,
body main .cinquieme_gen .gen_game {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
}

body main .premiere_gen .gen_game,
h2,
p body main .deuxieme_gen .gen_game,
h2,
p body main .troisieme_gen .gen_game,
h2,
p body main .quatrieme_gen .gen_game,
h2,
p body main .cinquieme_gen .gen_game,
h2,
p {
  text-align: center;
}

.gen_game .white-background {
  background-color: rgba(240, 248, 255, 0.42);
  width: 75%;
  border-radius: 30px;
}

caption {
  background-color: rgba(121, 19, 176, 0.632);
  border-radius: 20px;
  margin-bottom: 15px;
}

.table-classement {
  height: 200px;
  width: 600px;
  background-color: rgba(2, 10, 13, 0.842);
  color: aliceblue;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
}

td,
th {
  padding: 10px;
}
